<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <% include ../partials/head %>
  </head>
  <!-- BODY -->      
  <body>
    <!-- Header -->
    <header>
      <%- include('../partials/header', {active:'add'}) %>
    </header>
    <!-- Main -->           
    <main class='container mt-5'>
      
    </main>    
    <!-- Footer -->
    <footer class='py-5 bg-dark'>
      <% include ../partials/footer %>
    </footer>
    <!-- Bootstrap js -->
    <% include ../partials/bootstrap %>
  </body>
</html>